.contact {
  background-color: $form-bg-color;
}
.contact__wrapper {
  margin: 0 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__info {
  text-align: center;
}
.contact__info p {
  margin: 30px 0;
}

.contact__info p:first-child {
  font-family: Muli-SemiBold, sans-serif;
  font-size: $base-font-size;
  color: #333333;
}
.contact__info p:last-child {
  font-family: Muli-SemiBold, sans-serif;
  font-size: $grayText-font-size;
  color: #7b94a5;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__names {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form__names input {
  width: 25%;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 15px;
  font-family: Muli-SemiBold;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.form__names input:hover,
.form__inputEmail:hover {
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}
.form__inputEmail {
  width: 51.5%;
  margin: 20px 0px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 15px;
  font-family: Muli-SemiBold;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.form__textarea {
  font-family: Muli-Regular;
  border: none;
  padding: 15px;
  width: 51.5%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  resize: none;
}
.form__checkbox {
  margin-top: 20px;
  width: 51.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  span {
    margin-left: 10px;
    line-height: 16px;
    font-size: $RODO-font-size;
    font-family: Muli-SemiBold;
    color: #002841;
  }
}
.form__btn {
  margin: 20px 0 50px 0;
  background-color: $H1-color;
  padding: 15px 30px;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 14px;
  font-family: Muli-ExtraBold;
}
.form__btn:hover {
  background-color: #0765a0;
}
.input__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 26.7%;
}
.input__wrapper--email {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.input__wrapper input {
  width: 100%;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 15px;
  font-family: Muli-SemiBold;
  padding: 19px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.form__inputEmail {
  padding: 21px;
  box-sizing: border-box;
}
.form__label {
  display: none;
  position: absolute;
}
.input__name:focus ~ label {
  color: #7b94a5;
  font-size: 11px;
  font-family: Muli-SemiBold;
  display: block;
  top: 5px;
  left: 30px;
}
.form__inputEmail:focus ~ label {
  color: #7b94a5;
  font-size: 11px;
  font-family: Muli-SemiBold;
  display: block;
  top: 25px;
  left: 295px;
}
