.contact {
  height: 60vh;
  background-color: $form-bg-color;
}
.contact__wrapper {
  margin: 0 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__info {
  text-align: center;
}
.contact__info p {
  margin: 30px 0;
}

.contact__info p:first-child {
  font-family: Muli-SemiBold, sans-serif;
  font-size: $base-font-size;
  color: #333333;
}
.contact__info p:last-child {
  font-family: Muli-SemiBold, sans-serif;
  font-size: $grayText-font-size;
  color: #7b94a5;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
