/*
body {
  @include mq(desktop-large) {
    
  }
  @include mq(desktop-medium) {
   
  }
  @include mq(desktop-small) {
  
  }
  @include mq(tablet-large) {
   
  }
  @include mq(tablet) {
  
  }
  @include mq(tablet-mini) {
  
  }
  @include mq(smartphone-large) {
   
  }
  @include mq(smartphone) {
   
  }
}
*/
// slider
.info__buttons button:last-child {
  @include mq(tablet-mini) {
    margin-left: 5px;
  }
  @include mq(smartphone-large) {
    margin: 10px 0px;
  }
}
.navbar__links {
  @include mq(tablet-large) {
    width: 90%;
  }
  @include mq(tablet) {
    width: 100%;
  }
  @include mq(tablet-mini) {
    position: absolute;
    right: -100vw;
    top: 10vh;
    transition: ease-in-out 0.5s;
    height: 90vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
  }
}
.burger {
  @include mq(tablet-mini) {
    display: flex;
    flex-direction: column;
  }
}
.burger div {
  transition: ease-in-out 0.5s;
}
.burger.close div:nth-child(1) {
  @include mq(tablet-mini) {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
}
.burger.close div:nth-child(2) {
  @include mq(tablet-mini) {
    display: none;
  }
}
.burger.close div:nth-child(3) {
  @include mq(tablet-mini) {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}
.slider__navbar {
  @include mq(tablet-mini) {
    height: 10vh;
  }
}
.main__info {
  @include mq(tablet-mini) {
    margin-top: 100px;
  }
}
.info__nav {
  @include mq(tablet-mini) {
    margin-top: 50px;
  }
}
.blok {
  @include mq(tablet-mini) {
    position: absolute;
    justify-content: space-evenly;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.blok a {
  color: black;
  font-size: 18px;
}
.navbar__logo img {
  @include mq(tablet-mini) {
    height: 10vh;
  }
}

// info
.article__wrapper {
  @include mq(desktop-small) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  @include mq(tablet-mini) {
    margin: 15vh 10vw;
  }
  @include mq(smartphone-large) {
  }
  @include mq(smartphone) {
  }
}
.info__article--1,
.info__article--2 {
  @include mq(desktop-small) {
    height: auto;
  }
}
.article--img {
  @include mq(desktop-small) {
    display: none;
  }
}
.article__left p,
.article__right p,
.article__right--2 {
  @include mq(desktop-small) {
    margin-right: 0px;
    margin-left: 0;
  }
  @include mq(tablet-large) {
  }
  @include mq(tablet) {
  }
  @include mq(tablet-mini) {
  }
  @include mq(smartphone-large) {
  }
  @include mq(smartphone) {
  }
}
.article__right a img {
  @include mq(tablet-mini) {
    width: 300px;
  }
}
//contact
.input__wrapper {
  @include mq(desktop-small) {
    width: 300px;
  }
  @include mq(tablet) {
    width: 250px;
  }
  @include mq(tablet-mini) {
    width: 200px;
  }
  @include mq(smartphone-large) {
    width: 340px;
  }
  @include mq(smartphone) {
    width: 300px;
  }
}
.input__wrapper input {
  @include mq(smartphone-large) {
    margin: 0;
  }
}
.form__names .input__wrapper:first-child input {
  @include mq(smartphone-large) {
    margin: 10px 0;
  }
}
.form__names {
  @include mq(smartphone-large) {
    display: flex;
    flex-direction: column;
  }
}
.form__inputEmail,
.form__textarea,
.form__checkbox {
  @include mq(desktop-small) {
    width: 580px;
  }
  @include mq(tablet) {
    width: 480px;
  }
  @include mq(tablet-mini) {
    width: 380px;
  }
  @include mq(smartphone-large) {
    width: 340px;
  }
  @include mq(smartphone) {
    width: 300px;
  }
}

.input__name:focus ~ label {
  @include mq(smartphone-large) {
    top: 7px;
    left: 20px;
  }
}
.form__names .input__wrapper:first-child .input__name:focus ~ label {
  @include mq(smartphone-large) {
    top: 17px;
    left: 20px;
  }
}

.form__inputEmail:focus ~ label {
  @include mq(smartphone-large) {
    top: 27px;
    left: 20px;
  }
}

// footer

footer {
  @include mq(desktop-small) {
    padding: 5vh 5vw;
  }
}
.footer__wrapper {
  @include mq(desktop-small) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.footer__localization {
  @include mq(desktop-small) {
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.map iframe {
  @include mq(desktop-small) {
    width: 60vw;
    margin-left: 20px;
  }
}
// footer dropdown
.footer__links {
  @include mq(tablet-mini) {
    display: flex;
    flex-direction: column;
  }
}
.footer__links ul li.li--vis {
  display: block;
}
.footer__links ul li {
  @include mq(tablet-mini) {
    display: none;
  }
}
.footer__links ul li.li--first {
  @include mq(tablet-mini) {
    cursor: pointer;
    display: block;
  }
}
.footer__links ul li.li--first::after {
  @include mq(tablet-mini) {
    content: " ▼";
  }
}
.footer__links ul li.li__arrow--down::after {
  @include mq(tablet-mini) {
    content: " ▲";
  }
}
