.slider {
  color: white;
  height: 100vh;
  background-image: url("../../public/img/bg.jpg");
  background-size: cover;
}
.header__wrapper {
  position: relative;
  padding: 5vh 5vw 0 13vw;
}
.slider__navbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 12vh;
  width: 100%;
  display: flex;
}
.sticky {
  background-color: rgb(17, 17, 17);
}
.navbar__logo {
  width: 40vw;
  padding-left: 15vw;
}
.navbar__links {
  font-size: $navbar-font-size;
  font-family: Muli-Bold, sans-serif;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: white;
    text-decoration: none;
  }
}
.slider__main {
  padding: 15vh 5vw 0 13vw;
  width: 100%;

  height: 73vh;

  display: flex;
}
.main__info {
  margin-top: 30vh;
  width: 79vw;
}
.info__statement {
  font-size: $H1-title-font-size;
  font-family: Muli-ExtraLight, sans-serif;
  span {
    color: $H1-color;
  }
}
.info__buttons {
  margin-top: 7vh;
  font-size: 14px;
  font-family: Muli-ExtraBold;
}
.info__buttons button:first-child {
  font-family: Muli-ExtraBold;

  background-color: white;
  color: #002841;
  padding: 16px 35px;
  border: none;
  border-radius: 30px;
}
.info__buttons button:last-child {
  margin-left: 15px;
  font-family: Muli-ExtraBold;
  background-color: transparent;
  color: white;
  padding: 14px 40px;
  border: 2px solid white;
  border-radius: 30px;
}

.info__nav {
  margin-top: 19vh;
}
.info__nav img:first-child {
  margin-right: 5px;
}
.main__navigation {
  margin-top: 25vh;
}
.navigation__dots {
  list-style-type: circle;
}
