.slider {
  color: white;
  height: 100vh;
  background-image: url("../../public/img/bg.jpg");
  width: 99vw;
  background-size: cover;
  overflow-x: hidden;
}
.container {
  box-sizing: border-box;
  width: 99vw;
  overflow-x: hidden;
}
.header__wrapper {
  position: relative;
  padding: 5vh 5vw 0 13vw;
}
.slider__navbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 12vh;
  width: 100%;
  display: flex;
}
.sticky {
  background-color: rgb(17, 17, 17);
  z-index: 1000;
}
.navbar__logo {
  width: 40vw;
  padding-left: 15vw;
}
.navbar__links {
  font-size: $navbar-font-size;
  font-family: Muli-Bold, sans-serif;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px solid white;
  }
}
.slider__main {
  padding: 15vh 5vw 0 13vw;
  width: 100%;

  height: 73vh;

  display: flex;
}
.main__info {
  margin-top: 30vh;
  width: 79vw;
}
.info__statement {
  font-size: $H1-title-font-size;
  font-family: Muli-ExtraLight, sans-serif;
  span {
    color: $H1-color;
  }
}
.info__buttons {
  margin-top: 7vh;
  font-size: 14px;
  font-family: Muli-ExtraBold;
}
.info__buttons button:first-child {
  font-family: Muli-ExtraBold;
  transition: ease-out 0.5s;

  background-color: white;
  color: #002841;
  height: 50px;
  width: 178px;
  border: none;
  border-radius: 30px;
}
.info__buttons button:first-child:hover {
  box-shadow: inset 178px 0 0 0 $H1-color;
  border: 2px solid white;
  color: white;
}
.info__buttons button:last-child {
  transition: ease-out 0.5s;
  margin-left: 15px;
  font-family: Muli-ExtraBold;
  background-color: transparent;
  color: white;
  height: 50px;
  width: 217px;
  border: 2px solid white;
  border-radius: 30px;
}
.info__buttons button:last-child:hover {
  box-shadow: inset 217px 0 0 0 $H1-color;
}

.info__nav {
  margin-top: 19vh;
}
.info__nav img:first-child {
  margin-right: 5px;
}
.main__navigation {
  margin-top: 25vh;
}
.navigation__dots div {
  height: 12px;
  width: 12px;
  border-radius: 60%;
  background-color: white;
  margin: 25px 0;
  cursor: pointer;
}

#arrow__left {
  transform: rotate(180deg);
}
#arrow__left,
#arrow__right {
  cursor: pointer;
}
#arrow__left:hover {
  content: url("../../public/img/nawigacja-slajdera-left.png");
  transform: rotate(0deg);
}
#arrow__right:hover {
  content: url("../../public/img/nawigacja-slajdera-left.png");
  transform: rotate(180deg);
}
