// font size
$RODO-font-size: 10px;
$smallLabel-font-size: 11px;
$buttons-font-size: 14px;
$grayText-font-size: 15px;
$navbar-font-size: 16px;
$base-font-size: 18px;
$H2-title-font-size: 36px;
$H1-title-font-size: 40px;

//colors
$H1-color: #00b6dc;
$link-color: #01a7c9;
$H2-color: #002841;
$navigation-color: #ffcd19;
$form-bg-color: #f5f8fa;
$fotter-bg-color: #001927;
